[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tidystats"]
	path = tidystats
	url = https://github.com/willemsleegers/tidystats
